<div class="contact" id="contact-form">
  <h2>Contact Us</h2>
  <p>
    Use the form below to request a free estimate or to start a chat about a potential project.
    <br />
    We try to respond to every request within 48 hours.
  </p>
  <div class="form">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>
      <re-captcha
        formControlName="recaptcha"
        [siteKey]="reCaptchaSiteKey"
      ></re-captcha>
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </form>
  </div>
</div>
