.contact {
  width: 60%;
  margin: 40px auto;
  text-align: center;
  @media screen and (max-width: 1000px) {
    width: 85%;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  .form {
    display: flex;
    flex-flow: column nowrap;
    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 20px 0;
      mat-form-field {
        max-width: 500px;
        width: 100%;
      }
      button {
        margin-top: 10px;
      }
    }
  }
}
