@import '~@angular/material/theming';

.footer {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: mat-color($mat-grey, 500);
}
