@use '@angular/material' as mat;

.footer {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: mat.get-color-from-palette(mat.$grey-palette, 500);
    background-color: mat.get-color-from-palette(mat.$grey-palette, 200);
}
