.container {
  width: 60%;
  margin: 40px auto;
  @media screen and (max-width: 1000px) {
    width: 85%;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  .projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    @media screen and (max-width: 1000px) {
      flex-flow: row wrap;
    }
    .project {
      margin: 5px;
      min-width: 200px;
      max-width: 500px;
      width: calc(33% - 10px);
      flex: 1 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      .image {
        width: 60%;
        padding-bottom: 60%;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
      }
      h3 {
        margin-bottom: 0;
      }
    }
  }
}
