<div class="container">
  <h2>Projects</h2>
  <p>
    You don't have to take our word for it! Take a look at some of Big Tree World's past projects for satisfied clients and see for yourself why modern businesses choose Big Tree World.
  </p>
  <div class="projects-container">
    <div *ngFor="let project of projects" class="project">
      <div class="image" [style.background-image]="'url(\'' + project.imageUrl + '\')'"></div>
      <h3>{{ project.title }}</h3>
      <p>
        {{ project.description }}
      </p>
      <a mat-raised-button class="visit" [href]="project.url" rel="noopener" color="primary" target="_blank">Visit</a>
    </div>
  </div>
</div>
