@import 'node_modules/sass-material-colors/sass/sass-material-colors';

.overview-section {
    z-index: 5;
    height: 500px;
    width: 100%;
    background-image: url('/assets/images/modern-web.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: material-color('grey', '200');
    padding: 20px;
    text-shadow: 0 2px 2px material-color('grey', '900');
}
