<div class="service-container">
  <h2>Services</h2>
  <p>
    Big Tree World offers widespread solutions to help your business or venture make its mark.
    <br />
    Explore some of our more popular service offerings:
  </p>
  <div class="services">
    <div *ngFor="let service of services" class="service">
      <div class="header" (click)="service.selected = service.selected ? false : true">
        <mat-icon class="service-icon">{{ service.icon }}</mat-icon>
        <h3>{{ service.name }}</h3>
        <mat-icon>{{ service.selected ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
      </div>
      <div class="description" [ngClass]="{'expanded': service.selected}">
        <p>{{ service.description }}</p>
        <a mat-raised-button (click)="scrollToContactForm()">Get a free estimate!</a>
      </div>
    </div>
  </div>
</div>
