@use '@angular/material' as mat;

.header-bar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    padding: 0 20px;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    border-bottom: 2px solid mat.get-color-from-palette(mat.$green-palette, 600);
    color: #000000;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    top: -1px;
    transition: background-color 0.5s ease-in-out,
        color 0.5s ease-in-out,
        height 0.5s ease-in-out,
        border 0.5s ease-in-out,
        background-color 0.5s ease-in-out;
    .logo {
        font-weight: 700;
        font-size: 24px;
        margin: 0 0;
        text-shadow: none;
        display: flex;
        align-items: center;
        transition: text-shadow 0.5s ease-in-out,
            font-size 0.5s ease-in-out;
        img {
            width: 36px;
            height: 36px;
            margin-right: 10px;
            border-radius: 100%;
            box-shadow: none;
            transition: width 0.5s ease-in-out,
                margin-right 0.5s ease-in-out,
                box-shadow 0.5s ease-in-out,
                height 0.5s ease-in-out;
        }
    }
    &.inverted {
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff;
        box-shadow: none;
        height: 100px;
        border: 0px solid transparent;
        .logo {
            text-shadow: 0 2px 1px mat.get-color-from-palette(mat.$grey-palette, 900);
            font-size: 32px;
            img {
                width: 48px;
                height: 48px;
                margin-right: 20px;
                box-shadow: 0 2px 1px mat.get-color-from-palette(mat.$grey-palette, 900);
            }
        }
    }
}
