@import './assets/fonts/metropolis/stylesheet.scss';
@import 'node_modules/sass-material-colors/sass/sass-material-colors';
@import './assets/material-theme.scss';

body, html {
    width: 100%;
    min-height: 100%;
    font-family: 'Metropolis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: material-color('grey', '100');
    overflow-x: hidden;
    min-width: 380px;
}

div {
    box-sizing: border-box;
}
