@import '~@angular/material/theming';
@import './assets/fonts/metropolis/stylesheet.scss';
@import './assets/material-theme.scss';

body, html {
    width: 100%;
    min-height: 100%;
    font-family: 'Metropolis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: mat-color($mat-grey, 100);
    overflow-x: hidden;
    min-width: 380px;
}

p {
  font-size: 18px;
}

div {
    box-sizing: border-box;
}
