@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'node_modules/sass-material-colors/sass/sass-material-colors';

body, html {
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: material-color('grey', '100');
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}
